In [1]:
import pandas as pd
import numpy as np
import pymysql
from sqlalchemy import create_engine
from getpass import getpass

In [27]:
pd.set_option('display.max_columns', 4)
# Connecting to database
password = getpass()
connection_string = 'mysql+pymysql://root:'+password+'@localhost/sakila'
engine = create_engine(connection_string)

In [28]:
# 1. How many distinct (different) actors' last names are there? -121
data = pd.read_sql_query('SELECT COUNT(DISTINCT a.last_name) AS count FROM sakila.actor a;', engine)
print(data['count'][0])

121

In [29]:
#2. Add an additional column day_type with values 'weekend' and 'workday' depending on the rental day of the week.
query = '''SELECT *, CASE
WHEN WEEKDAY(rental_date) BETWEEN 5 AND 6 THEN 'weekend'
ELSE 'workday'
END AS day_type
FROM sakila.rental r;'''
data = pd.read_sql_query(query, engine)
print(data)

       rental_id         rental_date  ...         last_update  day_type
0              1 2005-05-24 22:53:30  ... 2006-02-15 21:30:53   workday
1              2 2005-05-24 22:54:33  ... 2006-02-15 21:30:53   workday
2              3 2005-05-24 23:03:39  ... 2006-02-15 21:30:53   workday
3              4 2005-05-24 23:04:41  ... 2006-02-15 21:30:53   workday
4              5 2005-05-24 23:05:21  ... 2006-02-15 21:30:53   workday
...          ...                 ...  ...                 ...       ...
16039      16045 2005-08-23 22:25:26  ... 2006-02-15 21:30:53   workday
16040      16046 2005-08-23 22:26:47  ... 2006-02-15 21:30:53   workday
16041      16047 2005-08-23 22:42:48  ... 2006-02-15 21:30:53   workday
16042      16048 2005-08-23 22:43:07  ... 2006-02-15 21:30:53   workday
16043      16049 2005-08-23 22:50:12  ... 2006-02-15 21:30:53   workday

[16044 rows x 8 columns]

In [37]:
# 3. Get all films with ARMAGEDDON in the title.
query = '''SELECT *
FROM sakila.film f
WHERE title like "%%ARMAGEDDON%%"; 
''' #we need to use double %% so that python succesfully reads it.
data = pd.read_sql_query(query, engine)
print(data['title'])

0          ARMAGEDDON LOST
1      LADYBUGS ARMAGEDDON
2         METAL ARMAGEDDON
3      MOSQUITO ARMAGEDDON
4    STAGECOACH ARMAGEDDON
5        STEERS ARMAGEDDON
Name: title, dtype: object

In [32]:
# 4. Get 10 the longest films.
query = '''SELECT *
FROM sakila.film f
ORDER BY f.length DESC
LIMIT 10;'''
data = pd.read_sql_query(query, engine)
print(data[['title','length']])

                title  length
0         GANGS PRIDE     185
1   SWEET BROTHERHOOD     185
2       MUSCLE BRIGHT     185
3  SOLDIERS EVOLUTION     185
4        POND SEATTLE     185
5       CHICAGO NORTH     185
6      CONTROL ANTHEM     185
7        WORST BANGER     185
8           HOME PITY     185
9      DARN FORRESTER     185

In [34]:
# 5. How many films include Behind the Scenes content?
query = '''SELECT COUNT(film_id) AS total
FROM sakila.film f
WHERE f.special_features like "%%Behind the Scenes%%";'''
data = pd.read_sql_query(query, engine)
print(data['total'][0])

538

In [35]:
# 6. Which kind of movies (rating) have a mean duration of more than two hours?
query = '''SELECT f.rating,avg(length) as avg_length
FROM sakila.film f
GROUP BY f.rating
HAVING avg_length >120;'''
data = pd.read_sql_query(query, engine)
print(data)

  rating  avg_length
0  PG-13    120.4439

In [36]:
# 7. Rank films by length (filter out the rows that have nulls or 0s in length column). In your output, only select the columns title, length, and the rank.
query = '''SELECT f.title,f.length
FROM sakila.film f
WHERE f.length IS NOT NULL AND f.length > 0
ORDER BY f.length DESC;'''
data = pd.read_sql_query(query, engine)
print(data)

                   title  length
0          CHICAGO NORTH     185
1         CONTROL ANTHEM     185
2         DARN FORRESTER     185
3            GANGS PRIDE     185
4              HOME PITY     185
..                   ...     ...
995         ALIEN CENTER      46
996            IRON MOON      46
997        KWAI HOMEWARD      46
998     LABYRINTH LEAGUE      46
999  RIDGEMONT SUBMARINE      46

[1000 rows x 2 columns]